<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdeabizDemo.IdeabizHandler.Ideabiz" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IdeabizDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IdeabizDemo.IdeabizHandler.Ideabiz>
            <setting name="CONSUMER_KEY" serializeAs="String">
                <value></value>
            </setting>
            <setting name="CONSUMER_SECRET" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ACCESS_TOKEN" serializeAs="String">
                <value></value>
            </setting>
            <setting name="REFRESH_TOKEN" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TOKEN_API" serializeAs="String">
                <value>https://ideabiz.lk/apicall/token</value>
            </setting>
        </IdeabizDemo.IdeabizHandler.Ideabiz>
        <IdeabizDemo.Properties.Settings>
            <setting name="ACCESS_TOKEN" serializeAs="String">
                <value>ss</value>
            </setting>
        </IdeabizDemo.Properties.Settings>
    </userSettings>
</configuration>